<<<<<<< HEAD
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h2>
        <%= gravatar_for @user, size: 50 %>
        <%= @user.name %>
      </h2>
    </section>
  </aside>
</div>
||||||| merged common ancestors
<% provide(:title, "User Show") %>


  <h1>Users#show</h1>
  <p>Find me in app/views/users/show.html.erb</p>


=======
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user, size: 50 %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="col-md-8">
    <% if @user.created_events.any? %>
      <h3>Microposts (<%= @user.created_events.count %>)</h3>
      <ol class="created_event">
        <%= render @events %>
      </ol>
      <%# will_paginate @events %>
    <% end %>
  </div>
</div>
>>>>>>> master
