<li id="event-<%= event.id %>">
  <%= link_to gravatar_for(event.creator, size: 50), event.creator %>
  <span class="user"><strong>Creator: </strong><%= link_to event.creator.name, event.creator %></span>
  <div class="content">
    <div>
      <strong>Date: </strong><%= event.formatted_date %>
    </div>
    <div>
      <strong>Location: </strong><%= event.location %>
    </div>
  </div>
  <span class="timestamp">
    Posted <%= time_ago_in_words(event.created_at) %> ago.
  </span>
  <% if current_user?(event.creator) %>
  <div class="event-settings">
    <span><%= link_to "Delete", "#" %></span>
    <span><%= link_to "Edit", "#" %></span>
  </div>
  <% end %>
</li>